<div class='container-fluid'>
    <div class='row'>
        <div>
            <nav-menu></nav-menu>
        </div>

        <div class="arc">

            <div class="archeader">


            </div>
            <div class="sc">

                <div class="divsec">
                    <nav>
                        <ul class="sectionul">
                            <li class="sectionulli" [routerLinkActive]="['link-active']"><a [routerLink]="['/deamonsettings']">Backup settings</a></li>
                            <li class="sectionulli" [routerLinkActive]="['link-active']"><a [routerLink]="['/backupscheme']">Backup scheme</a></li>

                        </ul>
                    </nav>
                </div>

                <div class="divsec">
                    <nav>
                        <ul class="sectionul">
                            <li class="sectionulli"><a href="backupsettings.html">One-time</a></li>
                            <li class="sectionulli"><a href="backupscheme.html">Daily</a></li>
                            <li class="sectionulli"><a href="backupscheme.html">Weekly</a></li>
                            <li class="sectionulli"><a href="backupscheme.html">Monthly</a></li>

                        </ul>
                    </nav>
                </div>
                <p class="alignleftp">Execute backup at <input type="datetime-local"></p>
            </div>

        </div>

    </div>

</div>