.arc {
    margin: 7% 15% 10% 30%;
    border: none;
    background-color: white;
    width: 930px;
    font-family: 'Segoe UI';
}

.sectionclass {
    margin: 0px 0px 0px 250px;
    width: 675px;
    float: left;
    background: whitesmoke;
    border: 2px solid #555;
    box-shadow: 2px 2px 7px #555;
    padding: 0px;
    font-size: 23px;
    font-family: 'Segoe UI';
    padding: 15px;
}

h1 {
    font-family: 'Segoe UI';
}
.adminmenu {
    margin: 10px 0px 10px 42px;
    float: left;
    padding: 2px 108px 18px 80px;
    border: solid;
    border-width: 0px;
    font-size: 41px;
    height: 40px;
    width: 60%;
    text-align: center;
    background-color: blue;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Segoe UI';
}


