
<article>
    <header><h1 class="h1r">Login</h1></header>
    <section>
        <table>
            <tr></tr>
            <tr><td><input type="text" class="textinputformat" id="username" placeholder="Username" /></td></tr>
            <tr></tr>
            <tr><td><input type="password" class="textinputformat" id="password" placeholder="Password" /></td></tr>
            <tr>

                <td><a (click)="login()" class="loginlink">Login</a></td>
            </tr>

        </table>

    </section>
</article>