body {
    background: whitesmoke;
    margin: 73px 0px 0px 0px;
    min-width: 960px;
    font-family: "Segoe UI";
    
}

button{

    width: 100px;
    height: 100px;
}
h1 {
    font-family: "Segoe UI";
    font-size: 30px;
}
nav ul {
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}

nav ul li {
        float: left;
        padding: 0px 35px 0px 35px;
        margin: 0 5px;
        font-size: 22px;
        height: 60px;
        line-height: 3em;
        color: whitesmoke;
        text-decoration: none;
       
}
.rightalign
{
        float: right;
        padding: 0px 25px;
        margin: 0 5px;
        font-size: 22px;
        height: 60px;
        line-height: 3em;
        color: whitesmoke;
        text-decoration: none;
    
}

.rightalign:hover
{
    background: #555;
       
    font-size: 22px;
    color: whitesmoke;
}
nav ul li:hover, .aktivni {
        background: #555;
        box-shadow: 10px #555;
        font-size: 22px;
        color: whitesmoke;
    }

 .nadpis{
     font-size: 27px;
 }

.textto {
    height: 27px;
    width: 600px;
    font-size: 23px;
    border: 0px;
}
.alignleftp
{
    padding: 10px;
    margin: 10px;
}

.pname
{
    font-size: 23px;
}

header {
    height: 60px;
    position: fixed;
    top: 0px;
    background-color: rgb(81, 168, 240);
    width: 100%;
}

article {
    background: whitesmoke;
    padding: 30px 0px 0px 10px;
}


article header {
        width: 250px;
        float: left;
        position: static;
        background: none;
        font-size: 20px;
        color: #0a294b;
    }

article section {
        width: 666px;
        float: left;
        background: whitesmoke;
        border: 2px solid #555;
        box-shadow: 2px 2px 7px #555;
        padding: 0px;
        font-size: 23px;
    }

    article header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 250px;
        background-color: whitesmoke;
    }


.clear {
    clear: both;
}

article header li a {
    display: block;
    color: #555;
    padding: 13px 16px;
    text-decoration: none;
}


article header li a:hover {
    background-color: #555;
    color: whitesmoke;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
}

#middle {
    margin: 0px auto;
    width: 960px;
}

#selecttime {
    font-size: 25px;
}

#selecttemplate {
    font-size: 25px;
    padding: 0px 100px 0px 0px;
}


article section header ul
{
     
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 250px;
        background-color: whitesmoke;
    
}


.pathtext
{
    width: 150px;
    height: 30px;
    font-size: 23px;
    margin: 5px;
    border: 0px;
}
.alignleft
{
    float: left;
}
.alignright
{
    float: right;
}
div .divsec
{
    background-color: rgb(81, 168, 240);
    height: 60px;
    
}

div .buttonscope
{
    margin: 30px;
}

button 
{
    position: absolute;
    
    z-index: 0;
}
article section table th
{
   text-align: left;
   padding: 2px 0px 0px 10px;
}

.mailclass
{
    font-weight: normal;
    font-size: 20px;
}
#time1
{
width: 75px;
height: 28px;
font-size: 10px;
}
#idbackuptypes
{
    width: 80px;
    height: 28px;
    font-size: 15px;
   
}

#btnAddbackup
{
    font-size: 40px;
    color: whitesmoke;
    background-color: rgb(81, 168, 240);
}
#idbtnminus
{
    width: 80px;
    height: 25px;
    font-size: 20px;
    z-index: -1;
    color: whitesmoke;
    background-color: rgb(81, 168, 240);
}
.idnumberbackups
{
    width: 100px;
    height: 25px;
    float: right;
    margin: 0px;
}

.keepingbackups
{
    float: right;
    font-size: 21px;
}
.DestinationTypeClass
{
    text-align: left;
    font-size: 10px;
  
}
.tucne
{
    font-size: 25px;
    font-weight: bold;
     margin: 10px;
}
.selectafterbackup
{
    font-size: 25px;
    margin: 10px;
    border: 0px;
}
.pathtextselect
{
    width: 640px;
    height: 30px;
    font-size: 23px;
    margin: 10px;
    border: 0px;
}
.pathtextdestination
{
    width: 280x;
    height: 30px;
    font-size: 23px;
    margin: 10px;
    border: 0px;
}
.containeremail {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.containeremail input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmarkemail {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


.containeremail:hover input ~ .checkmarkemail {
    background-color: #ccc;
}


.containeremail input:checked ~ .checkmarkemail {
    background-color: rgb(115, 201, 230);
}


.checkmarkemail:after {
    content: "";
    position: absolute;
    display: none;
}


.containeremail input:checked ~ .checkmarkemail:after {
    display: block;
}


.containeremail .checkmarkemail:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dropdown {
    position: relative;
    display: inline-block;
   
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color:whitesmoke;
 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
    z-index: 1;
}

.dropdown:hover .dropdown-content 
{
    display: block;
 
    color: #555;

    background-color: whitesmoke;
}

.kkt:hover
{
    background-color: whitesmoke;
    color: #555;
    font-weight: bold;
}

.maildiv{
    margin: 10px;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 10px
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


.container:hover input ~ .checkmark {
    background-color: #ccc;
}


.container input:checked ~ .checkmark {
    background-color: rgb(81, 168, 240);
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: block;
}



.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.registermenu {
    width: 200px;
    background-color: whitesmoke;
    margin: 320px 0px 0px 695px;
    box-shadow: 2px 2px 6px 2px #1c2228;
}

article .registermenu header {
    width: 20px;
    float: left;
    position: static;
    background: none;
    font-size: 20px;
    color: #0a294b;
}

article .registermenu section {
    width: 400px;
    float: left;
    background: whitesmoke;
    border: 2px solid #555;
    box-shadow: 2px 2px 7px #555;
    padding: 20px;
    font-size: 25px;
}


.textinputformat {
    font-size: 25px;
    height: 40px;
    width: 300px;
    margin: 10px 0px 10px 42px;
}


.loginlink {
    margin: 10px 0px 10px 42px;
    float: left;
    padding: 2px 108px 18px 80px;
    border: solid;
    border-width: 0px;
    font-size: 41px;
    height: 40px;
    width: 118px;
    text-align: center;
    background-color: gray;
    text-decoration: none;
    color: whitesmoke;
}

    .loginlink:hover {
        background: rgb(81, 168, 240);
        box-shadow: 0px 0px 5px black;
        border-color: rgb(81, 168, 240);
    }

