body {
    background: whitesmoke;
    margin: 73px 0px 0px 0px;
    min-width: 960px;
    font-family: "Segoe UI";
}

.h1
{
    color: whitesmoke;
    background-color: whitesmoke;
}


nav ul {
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}

nav ul li {
        float: left;
        padding: 0px 35px 0px 35px;
        margin: 0 5px;
        font-size: 22px;
        height: 60px;
        line-height: 3em;
        color: whitesmoke;
        text-decoration: none;
       
}
.rightalign
{
        float: right;
        padding: 0px 25px;
        margin: 0 5px;
        font-size: 22px;
        height: 60px;
        line-height: 3em;
        color: whitesmoke;
        text-decoration: none;
    
}

.rightalign:hover
{
    background: #555;
       
    font-size: 22px;
    color: whitesmoke;
}
nav ul li:hover, .aktivni {
        background: #555;
       
        font-size: 22px;
        color: whitesmoke;
    }

nav ul li:hover, .aktivni {
    background: #555;
    font-size: 22px;
    color: whitesmoke;
}
article {
    width: 400px;
    background-color: whitesmoke;
    margin: 320px 0px 0px 695px;
    padding: 50px 0px 0px 0px;
    box-shadow: 2px 2px 6px 2px #1c2228;
}

header {
    height: 60px;
    position: fixed;
    top: 0px;
    background-color: rgb(81, 168, 240);
    width: 100%;
}


.textinputformat {
    font-size: 25px;
    height: 40px;
    width: 300px;
    margin: 10px 0px 10px 42px;
    border: 0px;
}


.loginlink {
    margin: 10px 0px 10px 42px;
    float: left;
    padding: 2px 108px 18px 80px;
    border: solid;
    border-width: 0px;
    font-size: 41px;
    height: 40px;
    width: 118px;
    text-align: center;
    background-color: gray;
    text-decoration: none;
    color: whitesmoke;
}

    .loginlink:hover {
        background: rgb(81, 168, 240);
        box-shadow: 0px 0px 5px black;
        border-color: rgb(81, 168, 240);
    }



