<div class='container-fluid'>
    <div class='row'>
        <div>
            <nav-menu></nav-menu>
        </div>

        <article>
            <header><h1 class="h1r">Login</h1></header>
            <section>
                <table>
                    <tr></tr>
                    <tr><td><input type="text" id="username" class="textinputformat" placeholder="Username" /></td></tr>
                    <tr></tr>
                    <tr><td><input type="password" id="password" class="textinputformat" placeholder="Password" /></td></tr>
                    <tr></tr>
                    <tr><td><input type="password" id="cpassword" class="textinputformat" placeholder="Confirm password" /></td></tr>
                    <tr>
                    <tr></tr>
                    <tr><td><input type="text" id="type" class="textinputformat" placeholder="Type" /></td></tr>
                    <tr>

                        <td><a (click)="Validation()" class="loginlink">Create admin</a></td>
                        <!--<td><a [routerLink]="['/home']" class="loginlink">Create admin</a></td>-->
                    </tr>

                </table>

            </section>

        </article>
    </div>
    <div id="tablediv">
    <table id="table1" class="admintable">
        <tr class="firstrow">
            <td>Username</td>
            <td>Type</td>
            <td>Delete</td>
        </tr>
        <tr *ngFor="let b of admins">
            <td>{{b.Name}}</td>
            <td>{{b.Type}}</td>
            <td><button class="btn btn-primary" (click)="Delete(b.Id)" id="btndelete">Delete</button></td>
            <!--<td>
                <form name="f2" action="Save();">
                    <input id="delete" onclick="Save()" type="submit" name="delete" value="Delete" />
                </form>
            </td>-->
            </tr>
    </table>
</div>
</div>

