<div class='container-fluid'>
    <div class='row'>
        <div>
            <nav-menu></nav-menu>
        </div>

        <article>
            <header><h1 class="h1r">Login</h1></header>
            <section>
                <table>
                    <tr></tr>
                    <tr><td><input type="text" class="textinputformat" placeholder="Username" /></td></tr>
                    <tr></tr>
                    <tr><td><input type="password" class="textinputformat" placeholder="Password" /></td></tr>
                    <tr></tr>
                    <tr><td><input type="password" class="textinputformat" placeholder="Confirm password" /></td></tr>
                    <tr>

                        <td><a [routerLink]="['/home']" class="loginlink">Register</a></td>
                    </tr>

                </table>

            </section>
        </article>
    </div>

</div>
