<div class='container-fluid'>
    <div class='row'>
        <div>
            <nav-menu></nav-menu>
        </div>

        <article>
            <header><h1 class="h1r">AdminInfo</h1></header>
            <section>
                <table>

                    <tr></tr>
                    <tr><td> <span class="label success">Name:</span> </td></tr>
                    <tr></tr>
                    <tr><td> <span class="label success">Password:</span> </td></tr>
                    <tr></tr>
                    <tr><td> <span class="label success">Type:</span> </td></tr>
                    <tr>

                </table>

            </section>
        </article>
    </div>

</div>