<!DOCTYPE html>
<html lang="cs-cz">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="stylmenu.css" type="text/css" />
    <script src="weeklybackup.js"></script>
    <title>Menu</title>
</head>

<body>
    <header>

        <nav>
            <ul>
                <!--<a href="mailsettings.html"><li>Email notification settings</li></a>
                <a href="daemonsettings.html"><li>Daemon settings</li></a>
                <a href="register.html" class="rightalign"><li>Register</li></a>-->
            </ul>
        </nav>
    </header>

    <article>

        <button id="Mon" (click)="OpenPanel('Mon')">Mon</button>
        <button id="Tue" (click)="OpenPanel('Tue')">Tue</button>
        <button id="Wed" (click)="OpenPanel('Wed')">Wed</button>
        <button id="Thu" (click)="OpenPanel('Thu')">Thu</button>
        <button id="Fri" (click)="OpenPanel('Fri')">Fri</button>
        <button id="Sat" (click)="OpenPanel('Sat')">Sat</button>
        <button id="Sun" (click)="OpenPanel('Sun')">Sun</button>

        <div class="one" [innerHtml]="htmlToAdd"></div>

        <div class="two" [innerHtml]="htmlToAdd"></div>

    </article>


    <footer></footer>
</body>
</html>