<div class="sc">

<div class="divsec">
    <nav>
        <ul class="sectionul">
            <li class="sectionulli" [routerLinkActive]="['link-active']"><a [routerLink]="['/deamonsettings']">Backup settings</a></li>
            <li class="sectionulli" [routerLinkActive]="['link-active']"><a [routerLink]="['/backupscheme']">Backup scheme</a></li>
            <a [routerLink]="['/home/daemon/weeklybackupscheme']"><li [routerLinkActive]="['link-active']">Weekly</li></a>

        </ul>
    </nav>
</div>
<router-outlet></router-outlet>
</div>