<p class="tucne"> Select what will you backup </p>
<input type="text" id="sourcePath" (input)="saveSettings()" class="pathtextselect" placeholder="C:\DATA" value="{{source}}">

<p class="tucne">Destination</p>
<table>
    <tr>
        <th>
            <label class="container">
                Local/network drives
                <input type="radio" id="radioLND" name="radio" (change)="saveSettings()" (click)="enableLocal()" checked="{{localChecked}}">
                <span class="checkmark"></span>
            </label>
        </th>
        <th>
            <label class="container">
                FTP
                <input type="radio" id="radioFTP" (change)="saveSettings()" (click)="enableFtp()" name="radio" checked="{{ftpChecked}}">
                <span class="checkmark"></span>
            </label>
        </th>
        <th>
            <label class="container">
                SFTP
                <input type="radio" id="radioSFTP" (change)="saveSettings()" (click)="enableSftp()" name="radio" checked="{{sftpChecked}}">
                <span class="checkmark"></span>
            </label>
        </th>

    </tr>

    <tr>
        <td><input type="text" id="LNDpath" (input)="saveSettings()" class="pathtextdestination" placeholder="D:\Backup" disabled="{{localDisabled}}" value="{{localPath}}"></td>
        <td><input type="text" id="FTPserver" (input)="saveSettings()" class="pathtext" placeholder="Server address" disabled="{{ftpDisabled}}" value="{{ftpAddress}}"></td>
        <td><input type="text" id="SFTPserver" (input)="saveSettings()" class="pathtext" placeholder="Server address" disabled="{{sftpDisabled}}" value="{{sftpAddress}}"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="text" id="FTPport" (input)="saveSettings()" class="pathtext" placeholder="Port" disabled="{{ftpDisabled}}" value="{{ftpPort}}"></td>
        <td><input type="text" id="SFTPport" (input)="saveSettings()" class="pathtext" placeholder="Port" disabled="{{sftpDisabled}}" value="{{sftpPort}}"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="text" id="FTPusername" (input)="saveSettings()" class="pathtext" placeholder="Username" disabled="{{ftpDisabled}}" value="{{ftpUsername}}"></td>
        <td><input type="text" id="SFTPusername" (input)="saveSettings()" class="pathtext" placeholder="Username" disabled="{{sftpDisabled}}" value="{{sftpUsername}}"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="Password" id="FTPpassword" (input)="saveSettings()" class="pathtext" placeholder="Password" disabled="{{ftpDisabled}}" value="{{ftpPassword}}"></td>
        <td><input type="Password" id="SFTPpassword" (input)="saveSettings()" class="pathtext" placeholder="Password" disabled="{{sftpDisabled}}" value="{{sftpPassword}}"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="text" id="FTPpath" (input)="saveSettings()" class="pathtext" placeholder="Path" disabled="{{ftpDisabled}}" value="{{ftpPath}}"></td>
        <td><input type="text" id="SFTPpath" (input)="saveSettings()" class="pathtext" placeholder="Path" disabled="{{sftpDisabled}}" value="{{sftpPath}}"></td>
    </tr>

</table>

<table>
    <tr>
        <th class="tablethalign"> After backup </th>
        <th class="tablethalign"> Format </th>
    </tr>
    <tr>
        <td>
            <select class="selectafterbackup" id="afterBackup" (change)="saveSettings()">
                <option value="NOTHING" selected="{{nothingSelected}}">Nothing</option>
                <option value="RESTART" selected="{{restartSelected}}">Restart</option>
                <option value="TURN OFF" selected="{{turnoffSelected}}">Turn off</option>
                <option value="SLEEP" selected="{{sleepSelected}}">Sleep mode</option>
            </select>
        </td>
        <td>
            <select class="selectafterbackup" id="saveFormat" (change)="saveSettings()">
                <option value="ZIP" selected="{{zipSelected}}">Archive .zip</option>
                <option value="PLAIN" selected="{{plainSelected}}">Without comprimation</option>
            </select>
        </td>
    </tr>
</table>