<div class='container-fluid'>
    <div class='row'>
        <div>
            <nav-menu></nav-menu>
        </div>
        <div>
            <router-outlet></router-outlet>

            <div class="sectionclass">
                <label class="containeremail">
                    <p class="tucne">Send emails</p>
                    <input onchange="enableMail()" type="checkbox" id="checkboxmail">
                    <span class="checkmarkemail"></span>
                </label>
                <p class="nadpis"> SMTP settings</p>
                <p> To <input type="text" class="textto" id="idemailTo" disabled placeholder="example@xxx.com" /></p>

                <p>
                    Template <select id="selecttemplate">
                        <option value="1">1</option>
                        <option value="2">2</option>

                    </select>
                </p>
                <table>
                    <tr>
                        <th>Daily</th>
                        <th>
                            <select id="selecttemplate">
                                <option value=""> </option>
                                <option value=""> </option>
                            </select>

                        </th>
                        <th>    </th>
                    </tr>
                    <tr>
                        <th>Weekly</th>

                        <th>
                            <select id="selecttemplate">
                                <option value=""> </option>
                                <option value=""> </option>
                            </select>
                        </th>
                        <th>

                        </th>
                    </tr>
                    <tr>
                        <th>Monthly</th>
                        <th>
                            <select id="selecttemplate">
                                <option value=""> </option>
                                <option value=""> </option>
                            </select>
                        </th>
                        <th></th>
                    </tr>

                </table>
            </div>




        </div>

    </div>
</div>