<div class="arc">
    <p class="nadpises">Email settings</p>
    <div class="sectionclass">
        <label class="containeremail">
            <p class="tucne">Send emails</p>
            <input onchange="enableMail()" type="checkbox" id="checkboxmail" checked="{{sendMail}}">
            <span class="checkmarkemail"></span>
        </label>
        <p class="nadpis"> SMTP settings</p>
        <label class="containeremail">
            <p class="tucne">Own SMTP server</p>
            <input onchange="enableMail()" type="checkbox" id="OwnSMTP" checked="{{OwnSmtp}}">
            <span class="checkmarkemail"></span>
        </label>
        <table id="table1" class="tableTokens">
            <tr>
                <td>
                    <p class="smtplabels">Port</p>
                </td>
                <td>
                    <input type="text" class="SMTPtext" id="smtpPort" placeholder="port" value="{{SmtpPort}}" />
                </td>
                <td>
                    <p class="smtplabels">Host name</p>
                </td>
                <td>
                    <input type="text" class="SMTPtext" id="HostName" placeholder="name" value="{{HostName}}" />
                </td>
            </tr>
            <tr>
                <td>
                    <p class="smtplabels">Username</p>
                </td>
                <td>
                    <input type="text" class="SMTPtext" id="username" placeholder="username" value="{{Username}}" />
                </td>
                <td>
                    <p class="smtplabels">Password</p>
                </td>
                <td>
                    <input type="password" class="SMTPtext" id="password" placeholder="password" value="{{Password}}" />
                </td>
            </tr>

        </table>
        <p> To <input type="text" class="textto" id="idemailTo" placeholder="example@example.com" value="{{mailAddress}}" /></p>
        <p>
            Template
            <select id="selecttemplate">
                <option *ngFor="let template of templates" value="{{template.Id}}" selected="{{template.Selected}}">{{template.Name}}</option>
            </select>
        </p>
        <table>
            <p class="tucner">Sending emails&nbsp; &nbsp; &nbsp; &nbsp;Daemons </p>

            <tr>
                <div  class="daemonstr">
                    <td>&nbsp; &nbsp; &nbsp;Daily&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td id="mailDaemonsDaily">
                    <label class="containeremail" *ngFor="let dd of daily">
                        <p>{{dd.Name}}</p>
                        <input type="checkbox" checked="{{dd.Selected}}" value="{{dd.Id}}" />
                        <span class="checkmarkemail"></span>
                    </label>
                </td>
                <td>    </td>
                </div>
          </tr>
    <tr>
        <div class="daemonstr">
            <td>&nbsp; &nbsp; &nbsp;Weekly&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;</td>

            <td id="mailDaemonsWeekly">
                <label class="containeremail" *ngFor="let ww of weekly">
                    <p class="tucne">{{ww.Name}}</p>
                    <input type="checkbox" checked="{{ww.Selected}}" value="{{ww.Id}}" />
                    <span class="checkmarkemail"></span>
                </label>
            </td>
            <td></td>
        </div>
</tr>
    <tr>
        <div class="daemonstr">
            <td>&nbsp; &nbsp; &nbsp;Monthly&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
            <td id="mailDaemonsMonthly">
                <label class="containeremail" *ngFor="let mm of monthly">
                    <p class="tucne">{{mm.Name}}</p>
                    <input type="checkbox" checked="{{mm.Selected}}" value="{{mm.Id}}" />
                    <span class="checkmarkemail"></span>
                </label>
            </td>
            <td></td>
        </div>
    </tr>

    </table>

</div>
    <div class="dname">
        <button id="btnSave" (click)="saveMailData(); sendMailData();">SAVE</button>
    </div>
</div>