body {
    background: #2a5069;
    margin: 73px 0px 0px 0px;
    min-width: 960px;
    font-family: "Segoe UI"
}

h1 {
    font-family: "Segoe UI";
    font-size: 30px;
}
nav ul {
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}

nav ul li {
        float: left;
        padding: 0px 25px;
        margin: 0 5px;
        font-size: 22px;
        height: 73px;
        line-height: 3em;
        color: white;
        text-decoration: none;
}

nav ul li:hover, .aktivni {
        background: #ffbb00;
        box-shadow: 0px 0px 5px black;
        font-size: 22px;
        color: #0a294b;
    }

 .nadpis{
     font-size: 27px;
 }

.textto {
    height: 27px;
    width: 500px;
    font-size: 23px;
}

header {
    height: 73px;
    position: fixed;
    top: 0px;
    background-color: #2a5069;
    width: 100%;
}

article {
    background: url('Images/noisetexture.png') whitesmoke;
    padding: 30px 0px;
}


article header {
        width: 250px;
        float: left;
        position: static;
        background: none;
        font-size: 20px;
        color: #0a294b;
    }

article section {
        width: 666px;
        float: left;
        background: white;
        border: 2px solid #006797;
        box-shadow: 2px 2px 7px #1c2228;
        padding: 20px;
        font-size: 25px;
    }

footer {
    height: 40px;
    color: white;
    margin: 20px 0 0 30px;
}


.clear {
    clear: both;
}


nav a {
    color: #0a294b;
    text-decoration: none;
}

#middle {
    margin: 0px auto;
    width: 960px;
}

#selecttime {
    font-size: 25px;
}

#selecttemplate {
    font-size: 25px;
}