
<div class="buttonscope">

    <table>
        <tr>
            <th>
                <button id="btnAddbackup" (click)="btnAdd()">+</button>
            </th>
        </tr>
        <tr>
            <th>
                <input type="time" id="time1">
            </th>
        </tr>
        <tr>
            <th>
                <select id="idbackuptypes">
                    <option value="Full">Full</option>
                    <option value="Differential">Differential</option>
                    <option value="Incremental">Incremental</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>
                <button id="idbtnminus" (click)="btnSubstract()">-</button>
            </th>
        </tr>
    </table>
    <p class="keepingbackups"> Keep <input class="idnumberbackups" type="number"> backups</p>
</div>

