<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="Scripts/styl.css" type="text/css" />
    

</head>

<body ng-controller="mycontroller">
   
    <script src="Scripts/angular.min.js"></script>
    <script src="App/app.module.js"></script>
    <script src="App/main.js"></script>
    <article>
        <header></header>
        <section>
    

                <table>
                    <tr>
                        <td class="tdformat">Server</td>

                    </tr>
                    <tr><td><input type="text" class="textinputformat" ng-model="Server" /></td></tr>
                    <tr>
                        <td class="tdformat" name="usertext">Username</td>

                    </tr>
                    <tr><td><input type="text" class="textinputformat" ng-model="Username" /></td></tr>
                    <tr>
                        <td class="tdformat">Password</td>

                    </tr>
                    <tr><td><input type="password" class="textinputformat" ng-model="Password" /></td></tr>
                    <tr>

                        <!--<td><button class="submitformat" name="LoginBtn"  ng-click="myFunc()">Log in</button></td>-->
                       <td><a href="mailsettings.html" class="loginlink">Log in</a></td>
                    </tr>
                </table>
   
        </section>
    </article>
</body>

</html>   