<?xml version="1.0" encoding="utf-8"?>

<!-- Další informace o použití transformace web.config najdete na webu https://go.microsoft.com/fwlink/?LinkId=125889. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    V níže uvedeném příkladu transformace SetAttributes změní hodnotu řetězce 
    connectionString tak, aby byl datový zdroj ReleaseSQLServer použit pouze v případě, že lokátor Match 
    nalezne atribut name s hodnotou MyDB.
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      V příkladu níže transformace Replace nahradí celý oddíl 
      <customErrors> ve vašem souboru web.config.
      Protože se v uzlu <system.web> nachází jen jeden oddíl customErrors, 
       není třeba použít atribut xdt:Locator.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    >
    -->
  </system.web>
</configuration>