

nav ul {
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}
    nav ul li {
        float: left;
        padding: 0px 35px 0px 35px;
        margin: 0 2px;
        font-size: 22px;
        height: 60px;
        line-height: 3em;
        color: whitesmoke;
        text-decoration: none;
    }

nav ul a.link-active li {
        font-size: 23px;
        font-weight: bold;
        color: whitesmoke;
    }

.rightalign {
    float: right;
    padding: 0px 25px;
    margin: 0 5px;
    font-size: 22px;
    height: 60px;
    line-height: 3em;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}

    .rightalign:hover {
        background: #555;
        font-size: 22px;
        color: whitesmoke;
        height: 64px;
    }

nav ul li:hover, .aktivni {
    background: #555;
    box-shadow: 10px #555;
    font-size: 22px;
    color: whitesmoke;
    height: 64px;

}

#logo
{
    float:left;
}

header {
   
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(81, 168, 240);
    width: 100%;
    font-family: 'Segoe UI';
    z-index: 1001;
    overflow: auto;
   
}


nav a {
    color: whitesmoke;
    text-decoration: none;
}

.textto {
    height: 27px;
    width: 600px;
    font-size: 23px;
    border: 0px;
}

.pname {
    font-size: 23px;
}

@media only screen and (max-width: 1200px) {
    nav ul li {
        height: 60px;
        width: 1200px;
    }


    .rightalign {
        height: 60px;
        width: 50px;
        float: left;
        padding: 0px;
    }
    
}

