

nav ul {
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}
    nav ul li {
        float: left;
        padding: 0px 35px 0px 35px;
        margin: 0 5px;
        font-size: 22px;
        height: 60px;
        line-height: 3em;
        color: whitesmoke;
        text-decoration: none;
    }

        nav ul a.link-active li {
            background: #555;
            box-shadow: 10px #555;
            font-size: 22px;
            color: whitesmoke;
        }

.rightalign {
    float: right;
    padding: 0px 25px;
    margin: 0 5px;
    font-size: 22px;
    height: 60px;
    line-height: 3em;
    color: whitesmoke;
    text-decoration: none;
}

    .rightalign:hover {
        background: #555;
        font-size: 22px;
        color: whitesmoke;
    }

nav ul li:hover, .aktivni {
    background: #555;
    box-shadow: 10px #555;
    font-size: 22px;
    color: whitesmoke;
}



header {
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(81, 168, 240);
    width: 100%;
    font-family: 'Segoe UI';
}


nav a {
    color: whitesmoke;
    text-decoration: none;
}

.textto {
    height: 27px;
    width: 600px;
    font-size: 23px;
    border: 0px;
}

.pname {
    font-size: 23px;
}


