
<header>

    <nav>
        <ul>
            <a [routerLink]="['/home/mail']" [routerLinkActive]="['link-active']"><li>Email notification</li></a>
            <a [routerLink]="['/home/daemon']" [routerLinkActive]="['link-active']"><li>Daemons</li></a>
            <a [routerLink]="['/home/default/default']" [routerLinkActive]="['link-active']"><li>Default settings</li></a>
            <a [routerLink]="['/home/register']" [routerLinkActive]="['link-active']"><li>Register admin</li></a>
            <a [routerLink]="['/home/itoken']" [routerLinkActive]="['link-active']"><li>Register daemon</li></a>
            <a [routerLink]="['/home/report']" [routerLinkActive]="['link-active']"><li>Report</li></a>
            <a (click)="logOut()" class="rightalign"><li>Log out</li></a>
        </ul>
    </nav>
</header>
