<div id="weeklyScheme">
    <div class="weeklyOneDay" *ngFor="let d of days">
        <button class="{{d.Class}}" (click)="showHide($event)">{{d.Name}}</button>
        <div class="weeklyOneDayPanel" style="display:none">
            <div class="weeklyBackups">
                <div class="weeklyOneBackup" *ngFor="let b of d.Backups">
                    <input type="time" class="time" (change)="validate(); saveWeekly();" value="{{b.Time}}" required>
                    <button class="btnRemove" (click)="deleteBackup($event)">-</button>
                </div>
            </div>
            <button class="weeklyAddButton" (click)="addBackup($event)">+</button>
        </div>
    </div>
</div>
<p id="keepingbackups"> Keep <input id="idnumberbackups" (change)="saveWeekly()" type="number" min="0" value="{{keepBackups}}"> backups</p>