
<div class="arc">
    <div class="dname">
        <p class="pname" id="dName">Name <input type="text" class="textto" id="daemonName" value="{{name}}" (input)="saveDaemon()"></p>
        <div> Update time <input type="number" class="textinputformat" id="updatetime" value="{{updatetime}}" placeholder="minutes" (input)="saveDaemon()" /></div>
        <div> Enable daemon <input id="enabled" type="checkbox" checked="{{enabled}}" (input)="saveDaemon()" /></div>
    </div>
    <div class="archeader">

        <ul class="archeaderul">
            <li class="archeaderulli" *ngFor="let dd of daemons">
                <div class="dropdown">
                    <a class="kkt" [routerLink]="dd.Route" [routerLinkActive]="['link-active']">{{dd.Name}} {{dd.Changed}}</a>
                </div>
            </li>
        </ul>
    </div>
    
    <p class="fileset">File settings</p>
    <div class="settinglist">
        <ul>
            <a [routerLink]="s.Route" [routerLinkActive]="['link-active']" *ngFor="let s of settings"><li>{{s.I}}</li></a>
            <a class="add" (click)="PostNewSettings(daemonID)"><li>+</li></a>
        </ul>
    </div>
    <div></div>
    <p class="fileset">Database settings</p>
    <div class="settinglist">
        <ul>
            <a [routerLink]="s.Route" [routerLinkActive]="['link-active']" *ngFor="let s of settingsdatabase"><li>{{s.I}}</li></a>
            <a class="add" (click)="PostNewSettingsDatabase(daemonID)"><li>+</li></a>
        </ul>
    </div>

    <router-outlet></router-outlet>
    <div class="dname">
        <button id="btnSave" class="btnSaveDel" (click)="sendDaemon()">SAVE</button>
    </div>
    <div class="dname">
        <button id="btnDeleteSettings" class="btnSaveDel" (click)="DeleteSettings()">Delete settings</button>
    </div>
</div>
