
<div class="arc">
    <div class="dname">
        <p class="pname" id="dName">Name <input type="text" class="textto" id="daemonName" value="{{name}}" (input)="saveDaemon()"></p>
    </div>
    <div class="archeader">

        <ul class="archeaderul">
            <li class="archeaderulli">
                <div class="dropdown">
                    <a class="kkt" id="firstdaemon" [routerLink]="['../default/default']" [routerLinkActive]="['link-active']">Default</a>
                </div>

            </li>
            <li class="archeaderulli" *ngFor="let dd of daemons">
                <div class="dropdown">
                    <a class="kkt" [routerLink]="dd.Route" [routerLinkActive]="['link-active']">{{dd.Name}}</a>
                    <div class="dropdown-content">
                        <a [routerLink]="s.Route" [routerLinkActive]="['link-active']" *ngFor="let s of dd.Settings">Settings {{s.I}}</a>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <router-outlet></router-outlet>
    <div class="dname">
        <button (click)="sendDaemon()">Save</button>
    </div>
</div>
