
.arc {
    margin: 7% 15% 10% 30%;
    border: none;
    background-color: white;
    width: 930px;
    font-family: 'Segoe UI';
}

.tucne {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

div .divsec {
    background-color: rgb(81, 168, 240);
    height: 60px;
}

nav ul {
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}


    nav ul li {
      
        
        float: left;
        padding: 0px 35px 0px 35px;
        margin: 0 5px;
        font-size: 22px;
        height: 60px;
        line-height: 3em;
        color: whitesmoke;
        text-decoration: none;
    }

        nav ul li:hover {
            background: #555;
            box-shadow: 10px #555;
            font-size: 22px;
            color: whitesmoke;
        }

div .dropdown > a {
    display: block;
    color: #555;
    padding: 13px 16px;
    text-decoration: none;
    
    list-style-type: none;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

.dname
{
    margin: 0% 0% 0% 27%;
}
.textto {
    height: 27px;
    width: 600px;
    font-size: 23px;
    border: 0px;
    background-color: whitesmoke;
 
}

.pname {
    font-size: 23px;
  
}

.kkt {
    text-decoration: none;
    list-style-type: none;
}

.archeader {
    width: 250px;
    float: left;
    position: static;
    background: none;
    font-size: 20px;
    color: #0a294b;
    list-style-type: none;
    text-decoration: none;
}

.archeaderul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: whitesmoke;
}


div .archeader li a {
    display: block;
    color: #555;
    padding: 13px 16px;
    text-decoration: none;
    width: 220px;
}


div .archeader li a:hover {
    background-color: #555;
    color: whitesmoke;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 13%;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #555;
    background-color: whitesmoke;
}

#btnSave {
    width: 150px;
    height: 60px;
    margin: 30px 0px 30px 30px;
    font-size: 20px;
    color: whitesmoke;
    background-color: rgb(81, 168, 240);
    font-weight: bold;
    border: none;
    float: right;
}

#btnSave:hover {
    background: #555;
}


