    <div class='row'>
            <div>
                <nav-menu></nav-menu>
            </div>
            <div class="arc">

                <h1>Initialization tokens</h1>
                <div class="sectionclass">
                    <div id="tablediv">
                        <table id="table1" class="tableTokens">
                            <tr class="firstrowtok">
                                <th>Token</th>
                                <th>Expiration</th>
                                <th>Copy</th>
                                <th>Delete</th>
                                <th>Generate config</th>
                            </tr>

                            <tr *ngFor="let b of itokens">
                                <td class="tok">{{b.Token}}</td>
                                <td class="tok">{{b.Expiration}}</td>
                                <td><button class="btn btn-primary" (click)="copyTextToClipboard(b.Token)" id="btncopyitoken">Copy</button></td>
                                <td><button class="btn btn-primary" (click)="DeleteToken(b.Id)" id="btndeleteitoken">Delete</button></td>
                                <td><button class="btn btn-primary" (click)="GenerateConfigFile()" id="btngeneratefile">Generate</button></td>
                        </table>
                        <button class="btn btn-primary" (click)="AddNewIToken()" id="btnadditoken">New Initialization Token</button>
                    </div>
                </div>
            </div>
    </div>
