    <div class='row'>
            <div>
                <nav-menu></nav-menu>
            </div>
            <div class="arc">
                <h1>Initialization tokens</h1>
                <table id="table1" border="1">
                    <tr>
                        <th>Token</th>
                    </tr>
                    <tr *ngFor="let b of itokens">
                        <td>{{b.Token}}</td>
                </table>
                <button class="btn btn-primary" (click)="AddNewIToken()" id="btnadditoken">New Initialization Token</button>
            </div>
    </div>
